{
  "apiVersion": "1.0.0",
  "metadata": {
    "name": "camelk-workspace"
  },
  "components": [
    {
      "type": "chePlugin",
      "id": "redhat/vscode-apache-camel/latest",
      "alias": "vscode-camel"
    },
    {
      "type": "chePlugin",
      "reference": "https://raw.githubusercontent.com/RedHat-Middleware-Workshops/dayinthelife-streaming/master/support/che/meta.yaml",
      "alias": "vscode-camelk"
    },
    {
      "type": "dockerimage",
      "alias": "tools",
      "image": "quay.io/gcamposo/java11-tools:latest",
      "env": [
        {
          "name": "MAVEN_CONFIG",
          "value": ""
        },
        {
          "name": "JAVA_OPTS",
          "value": "-XX:MaxRAMPercentage=50.0 -XX:+UseParallelGC -XX:MinHeapFreeRatio=10 -XX:MaxHeapFreeRatio=20 -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -Dsun.zip.disableMemoryMapping=true -Xms20m -Djava.security.egd=file:/dev/./urandom -Duser.home=/home/user"
        },
        {
          "name": "MAVEN_OPTS",
          "value": "$(JAVA_OPTS)"
        }
      ],
      "memoryLimit": "4294Mi",
      "mountSources": true,
      "volumes": [
        {
          "name": "m2",
          "containerPath": "/home/user/.m2"
        }
      ]
    }
  ],
  "commands": [
    {
      "name": "log in openshift",
      "actions": [
        {
          "type": "exec",
          "component": "tools",
          "command": "oc login -p openshift -u {{ user }} --server=https://api.{{ domain }}:6443 --insecure-skip-tls-verify={{ insecure_skip_tls_verify }} && oc project {{ user }}-project",
          "workdir": "${CHE_PROJECTS_ROOT}"
        }
      ]
    }
  ]
}
