apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ user_amq_project }}-operatorgroup
  namespace: {{ user_amq_project }}
spec:
  targetNamespaces:
  - {{ user_amq_project }}
